{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "globals": {
    },
    "rules": {
        "quotes": [2, "single"]
    }
}
